[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==2.9.2"
django = "==4.1"
djangorestframework = "==3.10.3"
django-cors-headers = "==3.1.1"
drf-jwt = "==1.13.4"
pyjwt = "==1.7.1"
requests = "==2.22.0"
asgiref = "==3.5.2"
certifi = "==2022.6.15"
cffi = "==1.15.1"
chardet = "==3.0.4"
idna = "==2.8"
pycparser = "==2.21"
six = "==1.16.0"
sqlparse = "==0.4.2"
urllib3 = "==1.25.11"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
